.register-page .or-login {
    color: #7a7a7a;
}

.register-page .submit {
    height: 47px;
    border-radius: 9px;
    background-color: var(--color-secondary);
}

.login-with-google {
    border: 1px solid #d1d1d1;
    border-radius: 9px;
    padding: 8px 14px;
}

.login-with-facebook {
    border: 1px solid #d1d1d1;
    border-radius: 9px;
    padding: 8px 24px;
}

.select-box input {
    border-bottom: 1px solid #d1d1d1;
    height: 28.5px;
    position: relative;
    z-index: 1;
    background: transparent;
}

.select-box label {
    top: 60%;
    transform: translateY(-60%);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.select-box .is-empty {
    transform: translateY(-60%);
    font-size: 14px;
    top: 0 !important;
}

.select-box .option-box {
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid;
    border-radius: 2px;
    z-index: 2;
}

.select-box .option-box li:hover {
    background-color: rgba(0, 0, 0, .050980392156862744);
}

.select-box .fade1x-enter-active,
.select-box .fade1x-leave-active {
    transition: opacity .1s;
}

.select-box .fade1x-enter,
.select-box .fade1x-leave-to {
    opacity: 0;
}